NEXT_PUBLIC_SUPABASE_URL=https://tcmtqfpkyojqypbfnpgb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STEAM_API_KEY=
STEAM_ID=

# 게시물 편집 관리자. 기본값 memoryrl@gmail.com
OWNER_EMAIL=memoryrl@gmail.com
